@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: hsl(227, 82%, 89%);;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(375px,1fr));
    grid-template-rows: 1fr 1fr;
    max-width: 800px;
    margin: 5em auto;
    overflow: hidden;
}

/* .card{
    padding: 2em 4em;
} */

.card--info{
    grid-column: 1/3;
    background-color: #ffffff;
    padding: 2em 4em;
}

.card__title{
    color: hsl(179, 62%, 43%);
    padding: 0.5em 0em;
    font-size: 2.5rem;
}

.card__subtitle{
    color: hsl(71, 73%, 54%);
    font-size: 2rem;
    padding: 0.2em 0em;
}

.card__para{
    color: hsl(197, 4%, 66%);
    font-size: 1.2rem;
    line-height: 1.5;
    padding-top: 0.2em;
}
.card--subscribe{
    background-color: hsl(179, 62%, 43%);
}


.card--review{
    background-color: hsl(179, 58%, 66%);
}

@media screen and (max-width: 962px){
    .card--info{
        grid-column: 1/2;
    }
}